{% extends 'base.html' %}

{% block title %} Change Password {% endblock %}
{% block content %}

<section class="section-conten padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT LOGIN   ================================= -->
        <div class="card mx-auto" style="max-width: 480px; margin-top:100px;font-size:1rem;">
          <div class="card-body">
          <h4 class="card-title mb-4">Change Password</h4>
          {% include 'accounts/alerts.html' %}
          <form method="POST" action="{% url 'changepassword' %}">
             {% csrf_token %}
              {% if form.non_field_errors %}
                {% for error in form..non_field_errors %}
                  <p>{{error}}</p>
                {% endfor %}
              {% endif %}

              {% for fm in form %}
                {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br> <br>
              {% endfor %}

              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Reset</button>
            </div>
          </form>
          </div> <!-- card-body.// -->
        </div> <!-- card .// -->
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
    </section>
{% endblock %}
