{% extends 'base.html' %}

{% block title %} Employee Details {% endblock %}
{% block content %}

<div class="card" style="font-size:1rem;line-height:1.5rem;">
    <div class="card-header">
       Employee Name : <strong> {{todo_details.assign_to}}</strong>
    </div>
    <div class="card-body">
        <p class="card-text"><strong> Title :</strong>    {{todo_details.title}}</p><br>
        <p class="card-text"><strong> Task:</strong>    {{todo_details.task}}</p><br>
        <p class="card-text"><strong> Deadline:</strong>    {{todo_details.deadline}}</p><br>
        <p class="card-text"><strong> Priority:</strong>    {{todo_details.priority}}</p><br>
        <p class="card-text"><strong> Status:</strong>    {{todo_details.status}}</p><br>
        <p class="card-text"><strong> Remark:</strong>    {{todo_details.remark}}</p><br>
    </div>
  </div>
  <br/>
  <a href = "{% url 'home' %}" class='btn btn-secondary'>Back</a>

  {% if request.user.is_admin %}
    <a href = "{% url 'delete' todo_details.id %}" class='btn btn-danger'>Delete</a>
  {% else %}
  {% endif %}

  <a href = "{% url 'update_todo' todo_details.id  %}" class='btn btn-secondary'>Update Record</a>  

{% endblock %}